h2 {
  color: #777;
}

* {
  font-family: "Josefin sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}

.menu-icon {
  display: none;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 567px) {
  .header {
    padding: 1.1rem;
  }
  .header .menu-icon {
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-size: 2.5rem;
  }
  .header .header__brand {
    display: none;
  }
  .header .header__navbar {
    height: 40px;
    transition: 0.5s;
  }
  .header .header__ul {
    position: relative;
    width: 80vw;
    top: -300px;
    transition: 4s;
    flex-direction: column;
    transition: 0.5s;
  }
  .header .active-menu {
    top: 0;
    height: 300px !important;
  }
}
.header__brand {
  color: #FFF;
  font-size: 3rem;
}
.header__navbar ul {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 567px) {
  .header__navbar ul .menu-icon {
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-size: 2.5rem;
  }
  .header__navbar ul .header__brand {
    display: none;
  }
  .header__navbar ul .header__navbar {
    height: 40px;
    transition: 0.5s;
  }
  .header__navbar ul .header__ul {
    position: relative;
    width: 80vw;
    top: -300px;
    transition: 4s;
    flex-direction: column;
    transition: 0.5s;
  }
  .header__navbar ul .active-menu {
    top: 0;
    height: 300px !important;
  }
}
.header__navbar ul li {
  margin: 0 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.header__navbar ul li .active {
  color: #20C997;
}
.header__navbar ul li a {
  cursor: pointer;
  display: block;
  padding: 16px;
}
.header__navbar ul li a:hover {
  color: #20C997;
}
.header__social-media ul {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 567px) {
  .header__social-media ul {
    display: none;
  }
  .header__social-media ul .menu-icon {
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-size: 2.5rem;
  }
  .header__social-media ul .header__brand {
    display: none;
  }
  .header__social-media ul .header__navbar {
    height: 40px;
    transition: 0.5s;
  }
  .header__social-media ul .header__ul {
    position: relative;
    width: 80vw;
    top: -300px;
    transition: 4s;
    flex-direction: column;
    transition: 0.5s;
  }
  .header__social-media ul .active-menu {
    top: 0;
    height: 300px !important;
  }
}
@media (min-width: 568px) and (max-width: 1020px) {
  .header__social-media ul {
    display: none;
  }
  .header__social-media ul .active-menu {
    display: none;
  }
  .header__social-media ul .menu-icon {
    display: none;
  }
}
.header__social-media ul li {
  margin: 0 0.5rem;
}
.header__social-media ul li a:hover {
  color: #FFF;
}

.gallery {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 346px));
  grid-template-rows: repeat(3, 400px) 200px;
  gap: 4%;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 567px) {
  .gallery {
    grid-template-columns: 440px;
    grid-template-rows: repeat(9, 400px) 50px;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }
  .gallery .menu-icon {
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-size: 2.5rem;
  }
  .gallery .header__brand {
    display: none;
  }
  .gallery .header__navbar {
    height: 40px;
    transition: 0.5s;
  }
  .gallery .header__ul {
    position: relative;
    width: 80vw;
    top: -300px;
    transition: 4s;
    flex-direction: column;
    transition: 0.5s;
  }
  .gallery .active-menu {
    top: 0;
    height: 300px !important;
  }
}
@media (min-width: 568px) and (max-width: 1020px) {
  .gallery {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 400px) 20px;
    gap: 10px;
  }
  .gallery .active-menu {
    display: none;
  }
  .gallery .menu-icon {
    display: none;
  }
  .gallery #card-9 {
    grid-column: span 2;
  }
}
.gallery__card-content {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.gallery__card-title {
  color: #FFF;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.gallery__card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #FFF;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery__card-btn:hover {
  color: #000;
  background-color: #FFF;
}
.gallery #card-1 {
  background-image: url("/img/animais.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-1:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/animais.jpg");
}
.gallery #card-2 {
  background-image: url("/img/arquitetura.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-2:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/arquitetura.jpg");
}
.gallery #card-3 {
  background-image: url("/img/cidade.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-3:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/cidade.jpg");
}
.gallery #card-4 {
  background-image: url("/img/decoracao.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-4:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/decoracao.jpg");
}
.gallery #card-5 {
  background-image: url("/img/esportes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-5:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/esportes.jpg");
}
.gallery #card-6 {
  background-image: url("/img/natureza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-6:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/natureza.jpg");
}
.gallery #card-7 {
  background-image: url("/img/paisagem.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-7:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/paisagem.jpg");
}
.gallery #card-8 {
  background-image: url("/img/pessoas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-8:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pessoas.jpg");
}
.gallery #card-9 {
  background-image: url("/img/refeicoes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-9:over {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/refeicoes.jpg");
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}
footer span {
  font-weight: bold;
  color: #20C997;
}

/*# sourceMappingURL=styles.css.map */
