@use 'variables'

@mixin container 
    max-width: variables.$container-width
    padding: 1.5rem 0
    margin: 0 auto

@mixin flex-center 
    align-items: center
    display: flex
    justify-content: center

@mixin bg-img($img) 
    background-image: url('/img/#{$img}')
    background-position: center
    background-repeat: no-repeat
    background-size: 100%
    filter: grayscale(100%)
    transition: 0.6s

    &:hover 
        background-size: 110%
        filter: grayscale(0%)
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url('/img/#{$img}')

@mixin mobile
    @media (max-width: 567px)
        @content

@mixin tablet
    @media (min-width: 568px) and (max-width: 1020px)
        @content