@use 'variables'
@use 'mixins'

h2
    color: variables.$text-color

*
    font-family: 'Josefin sans'
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: variables.$bg-color
    color: variables.$text-color

    a
        color: variables.$text-color
        text-decoration: none
        transition: .4s
    ul
        list-style: none

.menu-icon 
    display: none


.header
    align-items: center
    display: flex
    justify-content: space-between
    @include mixins.container
    @include mixins.mobile
        padding: 1.1rem
        
    &__brand
        color: variables.$primary-color
        font-size: 3rem

    &__navbar
        ul
            height: 100%
            @include mixins.flex-center 
            @include mixins.mobile

            li
                margin: 0 0.5rem
                text-transform: uppercase
                font-size: .8rem

                .active
                    color: variables.$secondary-color

                a
                    cursor: pointer
                    display: block
                    padding: 16px

                    &:hover
                        color: variables.$secondary-color

    &__social-media
        ul
            height: 100%
            @include mixins.flex-center
            @include mixins.mobile
                display: none
            @include mixins.tablet
                display: none

            li
                margin: 0 0.5rem

                a:hover
                    color: variables.$primary-color

.gallery
    @include mixins.container
    display: grid
    grid-template-columns: repeat(3, minmax(250px, 346px))
    grid-template-rows: repeat(3, 400px) 200px
    gap: 4%
    justify-content: space-between
    padding: 0
    @include mixins.mobile
        grid-template-columns: 440px
        grid-template-rows: repeat(9, 400px) 50px
        justify-content: center
        gap: 2rem
        padding: 0

    @include mixins.tablet
        justify-content: center
        grid-template-columns: 1fr 1fr
        grid-template-rows: repeat(5, 400px) 20px
        gap: 10px
        #card-9
            grid-column: span 2

    &__card-content 
        align-items: center
        display: flex
        height: 100%
        flex-direction: column
        justify-content: center

    &__card-title
        color: variables.$primary-color
        font-size: 2rem
        font-weight: 300
        margin-bottom: 1rem

    &__card-btn
        padding: .6rem 2rem
        border: 2px solid variables.$primary-color
        color: variables.$primary-color
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 1px

        &:hover
            color: variables.$bg-color
            background-color: variables.$primary-color
    
    #card-1
        @include mixins.bg-img('animais.jpg')
    #card-2
        @include mixins.bg-img('arquitetura.jpg')
    #card-3
        @include mixins.bg-img('cidade.jpg')
    #card-4
        @include mixins.bg-img('decoracao.jpg')
    #card-5
        @include mixins.bg-img('esportes.jpg')
    #card-6
        @include mixins.bg-img('natureza.jpg')
    #card-7
        @include mixins.bg-img('paisagem.jpg')
    #card-8
        @include mixins.bg-img('pessoas.jpg')
    #card-9
        @include mixins.bg-img('refeicoes.jpg')


footer
  text-align: center
  padding-bottom: 2rem

  span
    font-weight: bold
    color: variables.$secondary-color