@use 'variables'
@use 'mixins'

h2
    color: variables.$secondary-color

* 
    font-family: 'Josefin sans'
    padding: 0
    margin: 0
    box-sizing: border-box

body 
    background-color: variables.$bg-color
    color: variables.$text-color

    a 
        color: variables.$text-color
        text-decoration: none
        transition: .4s
    ul 
        list-style: none

.header 
    align-items: center
    display: flex
    justify-content: space-between
    @include mixins.container

    &__brand
        color: variables.$primary-color
        font-size: 3rem

    &__navbar 
        ul
            height: 100%
            @include mixins.flex-center

            li
                margin: 0 0.5rem
                text-transform: uppercase
                font-size: .8rem

                .active 
                    color: variables.$secondary-color
                
                a 
                    cursor: pointer
                    display: block
                    padding: 16px

                    &:hover
                        color: variables.$secondary-color

    &__social-media 
        ul
            @include mixins.flex-center
            height: 100%

            li 
                margin: 0 0.5rem

                a:hover 
                    color: variables.$primary-color
